.brands {
  color: #313437;
  background-color: #fff;
}

.brands a {
  display: block;
  text-align: center;
  padding: 40px 0;
}

@media (max-width:767px) {
  .brands a {
    padding: 30px 0;
  }
}

.brands a img {
  display: inline-block;
  margin: 10px 20px;
  vertical-align: middle;
}

#lolz {
  background-color: peru;
}

#lolz:hover {
  background-color: saddlebrown;
}

.nav-item:hover {
  background-color: peru;
}

.card-img:hover {
}

#sacacorchos:hover {
  filter: brightness(88%);
}

.footer-dark:hover {
  background-color: #313437;
}

